<nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Alzheimer Detection</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="https://order.nia.nih.gov/publication/caring-for-a-person-with-alzheimers-disease-your-easy-to-use-guide"
                        target="_blank">Get
                        Help</a>
                </li>
            </ul>
        </div>

    </div>
</nav>